{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                {% include "inventory/filter.html.twig" %}
            </div>
        </div>

        <div class="panel-body table-responsive">
            {% for item in inventory %}
                <div class="panel-heading">
                    <h1 class="genre">{{ item.type|trans }}</h1>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Items_left{% endtrans %}</th>
                            <th>{% trans %}Items_available{% endtrans %}</th>
                            <th>{% trans %}Status{% endtrans %}</th>
                            <th>{% trans %}Price{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in item.records %}
                            <tr class="items">
                                <td>{{ row.title }}</td>
                                <td>{{ row.itemsLeft }}</td>
                                <td>{{ row.itemsAvailable }}</td>
                                <td>{{ row.status }}</td>
                                <td>{{ row.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}