{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_start(form, {"attr": {"class": "form-inline"} }) }}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('filter') }}">
                    {{ form_label(form.requiredDate) }}

                    <div id="dateContainer" class="input-group date" 
                         data-date-container='#dateContainer' data-date-autoclose="true"
                         data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        {{ form_widget(form.requiredDate, {"attr": {"class": "form-control"} }) }}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="panel-body table-responsive">
            {% for item in inventory %}
                <div class="panel-heading">
                    <h1>{{ item.type|trans }}</h1>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Items_left{% endtrans %}</th>
                            <th>{% trans %}Items_available{% endtrans %}</th>
                            <th>{% trans %}Status{% endtrans %}</th>
                            <th>{% trans %}Price{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in item.records %}
                            <tr class="items">
                                <td>{{ row.title }}</td>
                                <td>{{ row.itemsLeft }}</td>
                                <td>{{ row.itemsAvailable }}</td>
                                <td>{{ row.status }}</td>
                                <td>{{ row.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}